<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define KnowledgeAssistant.Wpf_TargetDir=$(var.KnowledgeAssistant.Wpf.TargetDir)?>
	<Product Id="*" Name="KnowledgeAssistant.Wpf.Installer" Language="1033" Version="1.1.15.545" Manufacturer="Rumen Enev" UpgradeCode="b8db19bb-f705-44ef-896a-49c01d52de83">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<Property Id="INSTALLFOLDER" Value="C:\My\Production\KnowledgeAssistant" />
		
		<Feature Id="ProductFeature" Title="KnowledgeAssistant.Wpf.Installer" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentRef Id="ApplicationShortcut" />
		</Feature>

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="KnowledgeAssistant">
					<Directory Id="Resources" Name="Resources" />
				</Directory>
				<Directory Id="Resources_Common" Name="Common" />
				<Directory Id="Resources_MainWindow" Name="MainWindow">
					<Directory Id="Resources_MainWindow_MainMenu" Name="MainMenu" />
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="KnowledgeAssistant" Name="Knowledge Assistant" />
			</Directory>
		</Directory>

		<DirectoryRef Id="KnowledgeAssistant">
			<Component Id="ApplicationShortcut" Guid="14F437DD-94E3-4D65-9733-580BD716634B">
				<Shortcut Id="StartMenuShortcut" Name="Knowledge Assistant" Description="Launch Knowledge Assistant" Target="[INSTALLFOLDER]KnowledgeAssistant.exe" WorkingDirectory="INSTALLFOLDER" />
				<RemoveFolder Id="RemoveStartMenuFolder" Directory="KnowledgeAssistant" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\KnowledgeAssistant" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
	</Product>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="KnowledgeAssistant.Wpf.runtimeconfig.json" Guid="c686d771-0e0d-4d48-8942-7bef2352648c">
			  <File Id="KnowledgeAssistant.Wpf.runtimeconfig.json" Name="KnowledgeAssistant.Wpf.runtimeconfig.json" Source="$(var.KnowledgeAssistant.Wpf_TargetDir)KnowledgeAssistant.Wpf.runtimeconfig.json" />
			</Component>
			<Component Id="Microsoft.AspNetCore.Http.Connections.Client.dll" Guid="8e86cbe2-cde8-421c-ae0e-1f665c8fc690">
			  <File Id="Microsoft.AspNetCore.Http.Connections.Client.dll" Name="Microsoft.AspNetCore.Http.Connections.Client.dll" Source="$(var.KnowledgeAssistant.Wpf_TargetDir)Microsoft.AspNetCore.Http.Connections.Client.dll" />
			</Component>
			<Component Id="Microsoft.AspNetCore.SignalR.Client.dll" Guid="0c517296-c293-4efe-a296-eb924e20c352">
			  <File Id="Microsoft.AspNetCore.SignalR.Client.dll" Name="Microsoft.AspNetCore.SignalR.Client.dll" Source="$(var.KnowledgeAssistant.Wpf_TargetDir)Microsoft.AspNetCore.SignalR.Client.dll" />
			</Component>
			<Component Id="Microsoft.AspNetCore.SignalR.Client.Core.dll" Guid="1e892aac-0203-411b-b341-1bf5c60a227b">
			  <File Id="Microsoft.AspNetCore.SignalR.Client.Core.dll" Name="Microsoft.AspNetCore.SignalR.Client.Core.dll" Source="$(var.KnowledgeAssistant.Wpf_TargetDir)Microsoft.AspNetCore.SignalR.Client.Core.dll" />
			</Component>
			<Component Id="MQTTnet.dll" Guid="efe7ecfe-88c8-4925-b031-2e4c4ddbc23a">
			  <File Id="MQTTnet.dll" Name="MQTTnet.dll" Source="$(var.KnowledgeAssistant.Wpf_TargetDir)MQTTnet.dll" />
			</Component>
			<Component Id="KnowledgeAssistant.Wpf.dll" Guid="8a49f8ed-2d65-4971-90ed-b9aeb0558011">
			  <File Id="KnowledgeAssistant.Wpf.dll" Name="KnowledgeAssistant.Wpf.dll" Source="$(var.KnowledgeAssistant.Wpf_TargetDir)KnowledgeAssistant.Wpf.dll" />
			</Component>
			<Component Id="Markdig.Wpf.dll" Guid="5e2819d4-a1ab-4f4f-ba0b-4708bc5ee3e5">
			  <File Id="Markdig.Wpf.dll" Name="Markdig.Wpf.dll" Source="$(var.KnowledgeAssistant.Wpf_TargetDir)Markdig.Wpf.dll" />
			</Component>
			<Component Id="MessageServices.dll" Guid="00b19e79-bf5b-48fe-b0bf-94fbeb8cea52">
			  <File Id="MessageServices.dll" Name="MessageServices.dll" Source="$(var.KnowledgeAssistant.Wpf_TargetDir)MessageServices.dll" />
			</Component>
			<Component Id="CommunicationsClients.dll" Guid="9d632e30-f561-4fb6-be2b-caa86dc89006">
			  <File Id="CommunicationsClients.dll" Name="CommunicationsClients.dll" Source="$(var.KnowledgeAssistant.Wpf_TargetDir)CommunicationsClients.dll" />
			</Component>
			<Component Id="KnowledgeAssistant.Domain.dll" Guid="21662951-e909-4430-9255-1ee120d5ec1b">
			  <File Id="KnowledgeAssistant.Domain.dll" Name="KnowledgeAssistant.Domain.dll" Source="$(var.KnowledgeAssistant.Wpf_TargetDir)KnowledgeAssistant.Domain.dll" />
			</Component>
			<Component Id="UI.dll" Guid="86ec57ca-50ef-4454-9649-5190cd3c252d">
			  <File Id="UI.dll" Name="UI.dll" Source="$(var.KnowledgeAssistant.Wpf_TargetDir)UI.dll" />
			</Component>
			<Component Id="KnowledgeAssistant.Contracts.dll" Guid="9158660f-f660-4803-849e-03deaeb36705">
			  <File Id="KnowledgeAssistant.Contracts.dll" Name="KnowledgeAssistant.Contracts.dll" Source="$(var.KnowledgeAssistant.Wpf_TargetDir)KnowledgeAssistant.Contracts.dll" />
			</Component>
			<Component Id="Serilog.Extensions.Hosting.dll" Guid="477f02ee-f0ee-4c42-a08f-40fe1376df17">
			  <File Id="Serilog.Extensions.Hosting.dll" Name="Serilog.Extensions.Hosting.dll" Source="$(var.KnowledgeAssistant.Wpf_TargetDir)Serilog.Extensions.Hosting.dll" />
			</Component>
			<Component Id="Serilog.dll" Guid="8b0de136-0929-425b-abe6-c05c66d3c721">
			  <File Id="Serilog.dll" Name="Serilog.dll" Source="$(var.KnowledgeAssistant.Wpf_TargetDir)Serilog.dll" />
			</Component>
			<Component Id="Serilog.Extensions.Logging.dll" Guid="0afc028c-bdf1-4a3d-8877-1bd8bdf03872">
			  <File Id="Serilog.Extensions.Logging.dll" Name="Serilog.Extensions.Logging.dll" Source="$(var.KnowledgeAssistant.Wpf_TargetDir)Serilog.Extensions.Logging.dll" />
			</Component>
			<Component Id="Markdig.dll" Guid="093fb08d-9e0e-4fdd-9f15-da2a8ba50858">
			  <File Id="Markdig.dll" Name="Markdig.dll" Source="$(var.KnowledgeAssistant.Wpf_TargetDir)Markdig.dll" />
			</Component>
			<Component Id="Models.dll" Guid="3080696b-1690-4458-bbb5-5591d19f8e3b">
			  <File Id="Models.dll" Name="Models.dll" Source="$(var.KnowledgeAssistant.Wpf_TargetDir)Models.dll" />
			</Component>
			<Component Id="Infrastructure.dll" Guid="fe2e400a-38e0-4028-8978-6a00569db6ea">
			  <File Id="Infrastructure.dll" Name="Infrastructure.dll" Source="$(var.KnowledgeAssistant.Wpf_TargetDir)Infrastructure.dll" />
			</Component>
			<Component Id="Newtonsoft.Json.dll" Guid="89a53fd7-ada9-4a4e-9412-07baf993e968">
			  <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.KnowledgeAssistant.Wpf_TargetDir)Newtonsoft.Json.dll" />
			</Component>
			<Component Id="Security.dll" Guid="f0d893fe-6ba3-4ba0-9f4a-52437c14ddec">
			  <File Id="Security.dll" Name="Security.dll" Source="$(var.KnowledgeAssistant.Wpf_TargetDir)Security.dll" />
			</Component>
			<Component Id="Pgvector.dll" Guid="96b4f2da-6672-4262-a504-64654904b3f0">
			  <File Id="Pgvector.dll" Name="Pgvector.dll" Source="$(var.KnowledgeAssistant.Wpf_TargetDir)Pgvector.dll" />
			</Component>
			<Component Id="HtmlAgilityPack.dll" Guid="dbd7a709-aedc-4d5c-8e35-044e6daa9f33">
			  <File Id="HtmlAgilityPack.dll" Name="HtmlAgilityPack.dll" Source="$(var.KnowledgeAssistant.Wpf_TargetDir)HtmlAgilityPack.dll" />
			</Component>
			<Component Id="XamlMath.Shared.dll" Guid="a752187b-1a16-4e55-9aaa-2559ef9763d9">
			  <File Id="XamlMath.Shared.dll" Name="XamlMath.Shared.dll" Source="$(var.KnowledgeAssistant.Wpf_TargetDir)XamlMath.Shared.dll" />
			</Component>
			<Component Id="WpfMath.dll" Guid="a4de3460-2710-42eb-814d-17ff8b2f5360">
			  <File Id="WpfMath.dll" Name="WpfMath.dll" Source="$(var.KnowledgeAssistant.Wpf_TargetDir)WpfMath.dll" />
			</Component>
			<Component Id="Dapper.dll" Guid="50582a20-fff5-46b5-a9d6-01c41b3a0f02">
			  <File Id="Dapper.dll" Name="Dapper.dll" Source="$(var.KnowledgeAssistant.Wpf_TargetDir)Dapper.dll" />
			</Component>
			<Component Id="Npgsql.dll" Guid="fbf57e92-6d70-4a27-b54a-3b58a4aa19f3">
			  <File Id="Npgsql.dll" Name="Npgsql.dll" Source="$(var.KnowledgeAssistant.Wpf_TargetDir)Npgsql.dll" />
			</Component>
			<Component Id="KnowledgeAssistant.Application.dll" Guid="7000db64-cb95-4c8d-8366-864acf69b9e6">
			  <File Id="KnowledgeAssistant.Application.dll" Name="KnowledgeAssistant.Application.dll" Source="$(var.KnowledgeAssistant.Wpf_TargetDir)KnowledgeAssistant.Application.dll" />
			</Component>
			<Component Id="Microsoft.AspNetCore.OpenApi.dll" Guid="fe26c582-f910-4b8a-9ae9-244ac0452a2d">
			  <File Id="Microsoft.AspNetCore.OpenApi.dll" Name="Microsoft.AspNetCore.OpenApi.dll" Source="$(var.KnowledgeAssistant.Wpf_TargetDir)Microsoft.AspNetCore.OpenApi.dll" />
			</Component>
			<Component Id="Microsoft.OpenApi.dll" Guid="289e2a16-4712-4f46-822b-39dbb905004d">
			  <File Id="Microsoft.OpenApi.dll" Name="Microsoft.OpenApi.dll" Source="$(var.KnowledgeAssistant.Wpf_TargetDir)Microsoft.OpenApi.dll" />
			</Component>
			<Component Id="KnowledgeAssistant.Infrastructure.dll" Guid="72ba82f2-6e54-41b1-af99-521b658d867d">
			  <File Id="KnowledgeAssistant.Infrastructure.dll" Name="KnowledgeAssistant.Infrastructure.dll" Source="$(var.KnowledgeAssistant.Wpf_TargetDir)KnowledgeAssistant.Infrastructure.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>